@page
@model UdemyAspNetCoreDemoProject.Pages.Students.IndexModel
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Students</h1>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Age</th>
        </tr>

        @foreach (var student in Model.Students)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                <td>@student.Age</td>
            </tr>
        }

    </table>

    <form method="post">
        <input asp-for="student.FirstName" />
        <input asp-for="student.LastName" />
        <input asp-for="student.Age" />
        <button type="submit">ADD</button>
    </form>

</body>
</html>
