<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Page</title>
</head>
<body>
    <div>HEADER</div>
    <hr />
    <div>
        @RenderBody()
    </div>
    <hr />
    <div>FOOTER</div>
</body>
</html>
