@page
@model UdemyAspNetCoreDemoProject.Pages.Home.HelloModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello World!</title>
    <h1>Hello World!</h1>
    <h3>@DateTime.Now</h3>
    <h4>Message: @Model.Message</h4>
</head>
<body>
</body>
</html>
